.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

.modal img {
  max-width: 70vw;
  max-height: 70vw;
  border: 5px solid #323232;
  border-radius: 15px;
}
